In [2]:
print("Hello World")

Hello World

In [1]:
import requests
import definition 
import pandas as pd
import json

In [4]:
session = requests.Session()

In [5]:
instrument = "EUR_USD"
count = 10
granularity = "H1"

In [6]:
url = f"{definition.OANDA_URL}/instruments/{instrument}/candles"
url

'https://api-fxpractice.oanda.com/v3/instruments/EUR_USD/candles'

In [7]:
params = dict(
    count = count,
    granularity = granularity,
    price = "MBA"
)

params

{'count': 10, 'granularity': 'H1', 'price': 'MBA'}

In [8]:
definition.SECURE_HEADER

{'Authorization': 'Bearer a23f3f661e0512a79fcbfa1fbc516696-6cfa63f384a84c8d17b239e955db3ba6'}

In [9]:
respone = session.get(url, params=params, headers=definition.SECURE_HEADER)

In [10]:
respone.status_code

200

In [14]:
data = respone.json()
data.keys()
len(data['candles'])

10

In [18]:
prices = ['mid', 'bid', 'ask']
ohlc = ['o', 'h', 'l', 'c']

In [19]:
for price in prices:
    for oh in ohlc:
        print(f"{price}_{oh}")

mid_o
mid_h
mid_l
mid_c
bid_o
bid_h
bid_l
bid_c
ask_o
ask_h
ask_l
ask_c

In [20]:
data['candles'][0]

{'complete': True,
 'volume': 4470,
 'time': '2023-12-01T12:00:00.000000000Z',
 'bid': {'o': '1.08968', 'h': '1.09005', 'l': '1.08749', 'c': '1.08761'},
 'mid': {'o': '1.08975', 'h': '1.09012', 'l': '1.08756', 'c': '1.08768'},
 'ask': {'o': '1.08982', 'h': '1.09020', 'l': '1.08764', 'c': '1.08776'}}

In [24]:
stuff = []
for candle in data['candles']:
    if candle['complete'] == False:
        continue
    new_dict = {}
    new_dict['time'] = candle['time']
    new_dict['volume'] = candle['volume']
    for price in prices:
        for oh in ohlc:
            new_dict[f"{price}_{oh}"] = candle[price][oh]
    stuff.append(new_dict)
print(stuff[0])

{'time': '2023-12-01T12:00:00.000000000Z', 'volume': 4470, 'mid_o': '1.08975', 'mid_h': '1.09012', 'mid_l': '1.08756', 'mid_c': '1.08768', 'bid_o': '1.08968', 'bid_h': '1.09005', 'bid_l': '1.08749', 'bid_c': '1.08761', 'ask_o': '1.08982', 'ask_h': '1.09020', 'ask_l': '1.08764', 'ask_c': '1.08776'}

In [27]:
candlesDF = pd.DataFrame.from_dict(stuff)
candlesDF

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2023-12-01T12:00:00.000000000Z,4470,1.08975,1.09012,1.08756,1.08768,1.08968,1.09005,1.08749,1.08761,1.08982,1.09020,1.08764,1.08776
1,2023-12-01T13:00:00.000000000Z,7094,1.08768,1.08847,1.08664,1.08676,1.08761,1.08840,1.08657,1.08668,1.08775,1.08855,1.08672,1.08684
2,2023-12-01T14:00:00.000000000Z,7017,1.08676,1.08705,1.08414,1.08445,1.08668,1.08698,1.08407,1.08435,1.08683,1.08712,1.08421,1.08455
3,2023-12-01T15:00:00.000000000Z,12493,1.08446,1.08668,1.08328,1.08378,1.08436,1.08661,1.08321,1.08370,1.08455,1.08675,1.08336,1.08387
4,2023-12-01T16:00:00.000000000Z,13115,1.08380,1.08856,1.08289,1.08772,1.08372,1.08848,1.08280,1.08765,1.08387,1.08863,1.08296,1.08780
5,2023-12-01T17:00:00.000000000Z,6671,1.08770,1.08844,1.08716,1.08818,1.08763,1.08837,1.08709,1.08810,1.08777,1.08852,1.08724,1.08825
6,2023-12-01T18:00:00.000000000Z,5378,1.08818,1.08930,1.08787,1.08892,1.08810,1.08922,1.08779,1.08884,1.08826,1.08937,1.08794,1.08899
7,2023-12-01T19:00:00.000000000Z,3931,1.08893,1.08929,1.08702,1.08722,1.08885,1.08922,1.08694,1.08714,1.08901,1.08936,1.08709,1.08730
8,2023-12-01T20:00:00.000000000Z,3123,1.08723,1.08799,1.08708,1.08794,1.08716,1.08792,1.08701,1.08786,1.08730,1.08806,1.08716,1.08802
9,2023-12-01T21:00:00.000000000Z,1432,1.08796,1.08858,1.08777,1.08833,1.08789,1.08834,1.08755,1.08783,1.08803,1.08892,1.08784,1.08883

In [28]:
candlesDF.to_pickle("EUR_USD_H1.pkl")

In [ ]:
currency = ['EUR', 'USD', 'GBP', 'JPY', 'CHF', 'NZD', 'CAD']